In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data/Vuelta-Stage19.csv')
df.head()

,RANK,RIDER,RIDER NO.,TEAM,TIMES,GAP,B,P
0,1,SEPP KUSS,24,JUMBO-VISMA,69H 13' 36'',-,B : 20'',-
1,2,JONAS VINGEGAARD,28,JUMBO-VISMA,69H 13' 53'',+ 00H 00' 17'',B : 38'',-
2,3,PRIMOŽ ROGLIČ,21,JUMBO-VISMA,69H 14' 44'',+ 00H 01' 08'',B : 28'',-
3,4,JUAN AYUSO,11,UAE TEAM EMIRATES,69H 17' 36'',+ 00H 04' 00'',B : 10'',-
4,5,MIKEL LANDA,45,BAHRAIN VICTORIOUS,69H 17' 55'',+ 00H 04' 19'',-,-

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   RANK       148 non-null    int64
 1   RIDER      148 non-null    object
 2   RIDER NO.  148 non-null    int64
 3   TEAM       148 non-null    object
 4   TIMES      148 non-null    object
 5   GAP        148 non-null    object
 6   B          148 non-null    object
 7   P          148 non-null    object
dtypes: int64(2), object(6)
memory usage: 9.4+ KB

In [4]:
top_10 = df.loc[df["RANK"] <= 10,:]

In [5]:
top_10

,RANK,RIDER,RIDER NO.,TEAM,TIMES,GAP,B,P
0,1,SEPP KUSS,24,JUMBO-VISMA,69H 13' 36'',-,B : 20'',-
1,2,JONAS VINGEGAARD,28,JUMBO-VISMA,69H 13' 53'',+ 00H 00' 17'',B : 38'',-
2,3,PRIMOŽ ROGLIČ,21,JUMBO-VISMA,69H 14' 44'',+ 00H 01' 08'',B : 28'',-
3,4,JUAN AYUSO,11,UAE TEAM EMIRATES,69H 17' 36'',+ 00H 04' 00'',B : 10'',-
4,5,MIKEL LANDA,45,BAHRAIN VICTORIOUS,69H 17' 55'',+ 00H 04' 19'',-,-
5,6,ENRIC MAS,141,MOVISTAR TEAM,69H 18' 06'',+ 00H 04' 30'',-,-
6,7,CIAN UIJTDEBROEKS,77,BORA - HANSGROHE,69H 21' 13'',+ 00H 07' 37'',-,-
7,8,ALEKSANDR VLASOV,71,BORA - HANSGROHE,69H 22' 11'',+ 00H 08' 35'',-,-
8,9,JOAO ALMEIDA,12,UAE TEAM EMIRATES,69H 23' 56'',+ 00H 10' 20'',-,-
9,10,SANTIAGO BUITRAGO SANCHEZ,41,BAHRAIN VICTORIOUS,69H 25' 56'',+ 00H 12' 20'',B : 10'',-

In [6]:
df

,RANK,RIDER,RIDER NO.,TEAM,TIMES,GAP,B,P
0,1,SEPP KUSS,24,JUMBO-VISMA,69H 13' 36'',-,B : 20'',-
1,2,JONAS VINGEGAARD,28,JUMBO-VISMA,69H 13' 53'',+ 00H 00' 17'',B : 38'',-
2,3,PRIMOŽ ROGLIČ,21,JUMBO-VISMA,69H 14' 44'',+ 00H 01' 08'',B : 28'',-
3,4,JUAN AYUSO,11,UAE TEAM EMIRATES,69H 17' 36'',+ 00H 04' 00'',B : 10'',-
4,5,MIKEL LANDA,45,BAHRAIN VICTORIOUS,69H 17' 55'',+ 00H 04' 19'',-,-
...,...,...,...,...,...,...,...,...
143,144,MAURICE BALLERSTEDT,82,ALPECIN-DECEUNINCK,73H 23' 10'',+ 04H 09' 34'',-,-
144,145,JUAN SEBASTIAN MOLANO,15,UAE TEAM EMIRATES,73H 24' 49'',+ 04H 11' 13'',B : 16'',-
145,146,ALBERTO DAINESE,163,TEAM DSM-FIRMENICH,73H 26' 19'',+ 04H 12' 43'',B : 10'',-
146,147,DAVIDE CIMOLAI,152,COFIDIS,73H 27' 50'',+ 04H 14' 14'',-,-
147,148,RUI OLIVEIRA,13,UAE TEAM EMIRATES,73H 30' 29'',+ 04H 16' 53'',-,-

In [7]:
df['Hours'] = df['TIMES'].str.split('H').str[0].astype(int)
df['Minutes'] = df['TIMES'].str.split('H').str[1].str.split('\'').str[0].astype(int)
df['Seconds'] = df['TIMES'].str.split('H').str[1].str.split('\'').str[1].str.split('\"').str[0].astype(int)

In [8]:
# concat the hours, minutes, seconds and then convert to timedelta
df['Time Join'] = pd.to_timedelta(df['Hours'], unit='h') + pd.to_timedelta(df['Minutes'], unit='m') + pd.to_timedelta(df['Seconds'], unit='s')
df

,RANK,RIDER,RIDER NO.,TEAM,TIMES,GAP,B,P,Hours,Minutes,Seconds,Time Join
0,1,SEPP KUSS,24,JUMBO-VISMA,69H 13' 36'',-,B : 20'',-,69,13,36,2 days 21:13:36
1,2,JONAS VINGEGAARD,28,JUMBO-VISMA,69H 13' 53'',+ 00H 00' 17'',B : 38'',-,69,13,53,2 days 21:13:53
2,3,PRIMOŽ ROGLIČ,21,JUMBO-VISMA,69H 14' 44'',+ 00H 01' 08'',B : 28'',-,69,14,44,2 days 21:14:44
3,4,JUAN AYUSO,11,UAE TEAM EMIRATES,69H 17' 36'',+ 00H 04' 00'',B : 10'',-,69,17,36,2 days 21:17:36
4,5,MIKEL LANDA,45,BAHRAIN VICTORIOUS,69H 17' 55'',+ 00H 04' 19'',-,-,69,17,55,2 days 21:17:55
...,...,...,...,...,...,...,...,...,...,...,...,...
143,144,MAURICE BALLERSTEDT,82,ALPECIN-DECEUNINCK,73H 23' 10'',+ 04H 09' 34'',-,-,73,23,10,3 days 01:23:10
144,145,JUAN SEBASTIAN MOLANO,15,UAE TEAM EMIRATES,73H 24' 49'',+ 04H 11' 13'',B : 16'',-,73,24,49,3 days 01:24:49
145,146,ALBERTO DAINESE,163,TEAM DSM-FIRMENICH,73H 26' 19'',+ 04H 12' 43'',B : 10'',-,73,26,19,3 days 01:26:19
146,147,DAVIDE CIMOLAI,152,COFIDIS,73H 27' 50'',+ 04H 14' 14'',-,-,73,27,50,3 days 01:27:50
147,148,RUI OLIVEIRA,13,UAE TEAM EMIRATES,73H 30' 29'',+ 04H 16' 53'',-,-,73,30,29,3 days 01:30:29

In [9]:
# Custom function to format Timedelta
def format_timedelta(timedelta):
    total_seconds = timedelta.total_seconds()
    hours = int(total_seconds // 3600)
    minutes = int((total_seconds % 3600) // 60)
    seconds = int(total_seconds % 60)
    return f"{hours:02d}:{minutes:02d}:{seconds:02d}"

# Apply the custom function to format the column
df['Time Join'] = df['Time Join'].apply(format_timedelta)

In [13]:
# Custom function to convert formatted string to Timedelta
def string_to_timedelta(formatted_str):
    hours, minutes, seconds = map(int, formatted_str.split(':'))
    return pd.Timedelta(hours=hours, minutes=minutes, seconds=seconds)

# Apply the custom function to convert the column
df['Time Join'] = df['Time Join'].apply(string_to_timedelta)

In [15]:
df

,RANK,RIDER,RIDER NO.,TEAM,TIMES,GAP,B,P,Hours,Minutes,Seconds,Time Join
0,1,SEPP KUSS,24,JUMBO-VISMA,69H 13' 36'',-,B : 20'',-,69,13,36,2 days 21:13:36
1,2,JONAS VINGEGAARD,28,JUMBO-VISMA,69H 13' 53'',+ 00H 00' 17'',B : 38'',-,69,13,53,2 days 21:13:53
2,3,PRIMOŽ ROGLIČ,21,JUMBO-VISMA,69H 14' 44'',+ 00H 01' 08'',B : 28'',-,69,14,44,2 days 21:14:44
3,4,JUAN AYUSO,11,UAE TEAM EMIRATES,69H 17' 36'',+ 00H 04' 00'',B : 10'',-,69,17,36,2 days 21:17:36
4,5,MIKEL LANDA,45,BAHRAIN VICTORIOUS,69H 17' 55'',+ 00H 04' 19'',-,-,69,17,55,2 days 21:17:55
...,...,...,...,...,...,...,...,...,...,...,...,...
143,144,MAURICE BALLERSTEDT,82,ALPECIN-DECEUNINCK,73H 23' 10'',+ 04H 09' 34'',-,-,73,23,10,3 days 01:23:10
144,145,JUAN SEBASTIAN MOLANO,15,UAE TEAM EMIRATES,73H 24' 49'',+ 04H 11' 13'',B : 16'',-,73,24,49,3 days 01:24:49
145,146,ALBERTO DAINESE,163,TEAM DSM-FIRMENICH,73H 26' 19'',+ 04H 12' 43'',B : 10'',-,73,26,19,3 days 01:26:19
146,147,DAVIDE CIMOLAI,152,COFIDIS,73H 27' 50'',+ 04H 14' 14'',-,-,73,27,50,3 days 01:27:50
147,148,RUI OLIVEIRA,13,UAE TEAM EMIRATES,73H 30' 29'',+ 04H 16' 53'',-,-,73,30,29,3 days 01:30:29